# Ignore node_modules
node_modules/

# Sources files
src/
examples/

# Build configuration
tsconfig.json
tsconfig.node.json
tsconfig.web.json
vite.config.ts
eslint.config.json

# Github and Development files
.github/
*.log
.env
.DS_Store

# Documentation
docs/

# IDE files
.idea/
*.iml
.vscode/